/* Each element must have flex grow, flex shrink and flex basis. */

body {
    display: flex;
    flex-direction: column;
    background: lightgrey;
}

header, main, aside, footer {
    border-radius: 0.4em;
    background:white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
    padding: 2em;
    margin: 1em;
    flex: 1 1 auto; 
}

h1 {
    font-size: 1em;
}

div {
    display: flex;
}

main {
    flex: 1 1 60em;
}

aside {
    flex: 1 1 30em;
}