<div id="treks-list">
    <a href="/details/{{_id}}" class="card overflow-hidden treksPlaceholder trek-details" style="width: 20rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">{{location}}</p>
        </div>
        <img class="card-image"
            src={{imageURL}}
            alt="Card image cap">
    </a>
</div>