
html {
    background: rgb(238, 238,238);
}


.gallery li {
    display: inline-block;
    border-width: 0.4rem;
    border-color: black;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    width: 30%;
}

img {
    max-width: 100%;
    height: auto;
}